@model Category
@{
    ViewBag.PageTitle = "Categories Managment";
    ViewBag.CardTitle = "Create Category";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
<form method="post" asp-action="Create" asp-controller="Category">
    <div class="mb-3">
        <label asp-for="Name"></label>
        <input asp-for="Name"/>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Description"></label>
        <input asp-for="Description" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
    <div class="mb-3">
        <a asp-action="Index" asp-controller="Category">Back</a>
    </div>
</form>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}