@model Category
@{
    ViewBag.PageTitle = "Categorie Managment";
    ViewBag.CardTitle = "Edit Category";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
<form method="post" asp-action="Edit" asp-controller="Category">
    <input hidden asp-for="Id" />
    <div class="mb-3">
        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Description"></label>
        <input asp-for="Description" />
        <span asp-validation-for="Description" class="text-danger"></span>

    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-success">Edit</button>
    </div>
    <div class ="mb-3">
        <a asp-action="Index" asp-controller="Category">Back</a>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}