@model Category
@{
    ViewBag.PageTitle = "Categories Managment";
    ViewBag.CardTitle = "Delete Category";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
<h1>Edit</h1>
<form method="post" asp-action="Delete" asp-controller="Category">
    <input hidden asp-for="Id" />
    <div class="mb-3">
        <label asp-for="Name"></label>
        <input asp-for="Name" disabled/>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Description"></label>
        <input asp-for="Description" disabled />
        <span asp-validation-for="Description" class="text-danger"></span>

    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-danger">Delete</button>
    </div>
    <div class="mb-3">
        <a asp-action="Index" asp-controller="Category">Back</a>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}